* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --lt-blue: rgba(216, 235, 247, 0.911);
  --med-blue: rgba(0, 110, 255, 0.849);
  --white:rgb(255, 255, 255);
}
.container {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


body, .qrCardInner{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

body {
  background-color: var(--lt-blue);
  flex-direction: column;
  font-family: Ubuntu;
}

.attribution {
  font-size: .875em;
  text-align: center;
}
.attribution a {
  color: var(--med-blue);
}
.qrCardOuter {
  background-color: var(--white);
  padding: 0.9375em;
  height: 28.75em;
  width: 18.75em;
  border-radius: 0.9375em;
}

.qrCardInner {
  width: 100%;
  height: 60%;
  border-radius: 0.625em;
}

.qrCode {
  height: 100%;
  width: 100%;
  border-radius: 0.625em;
}

.cardTitle {
  margin-top: 0.9375em;
  padding: 0.625em;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}
.cardText {
  padding: 0.3125em;
  text-align: center;
  font-size: 0.9375em;
  margin-bottom: 0.9375em;
}

article {
  font-size: 16px;
}

@media (max-width: 400px) {
  article {
    font-size: 12px;
  }
}

@media (min-width: 401px_) and (max-width: 750px) {
  article {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  article {
    font-size: 18px;
  }
}
