* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --lt-blue: rgba(216, 235, 247, 0.911);
  --med-blue: rgba(0, 110, 255, 0.849);
  --white: rgb(255, 255, 255);
}
body,
.qrCardInner,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}



body {
  background-color: var(--lt-blue);
  flex-direction: column;
  font-family: Ubuntu;
}

.container {
  min-height: 97vh;
  flex-direction: column;
}


.qrCardOuter {
  background-color: var(--white);
  padding: 0.9375em;
  height: 28.75em;
  width: 18.75em;
  border-radius: 0.9375em;
  font-size: 16px;

}

.qrCardInner,
.qrCode{
  width: 100%;
  border-radius: 0.625em;

}

.qrCardInner {
  height: 60%;
}

.qrCode {
  height: 100%;
}

.cardTitle {
  margin-top: 0.9375em;
  padding: 0.625em;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}

.cardText {
  padding: 0.3125em;
  text-align: center;
  font-size: 0.9375em;
  margin-bottom: 0.9375em;
}

.attribution {
  font-size: 0.875em;
  text-align: center;
}

.attribution a {
  color: var(--med-blue);
}

@media (max-width: 400px) {
  article {
    font-size: 12px;
  }
}

@media (min-width: 401px_) and (max-width: 750px) {
  article {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  article {
    font-size: 18px;
  }
}
